h1, h2, h3 {
	font-family: 'Montserrat', sans-serif!important;
}


.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
	display: flex;
}

.flex-3 {
	flex: 3;
}

.flex-5 {
	flex: 5;
	display: flex;

}

.flex-8 {
	flex: 8;
	display: flex;
}

.flex-end {
	justify-content: flex-end;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-center {
	justify-content: center;
}

@media (min-width: 900px) {
	p.ingress {
		font-size: 26px;
	}
}

p.ingress {
	font-family: 'amiri', sans-serif;
}
pe

.space-between {
	justify-content: space-between;
}


.Content-element {
	background: white;
    margin-right: -20px!important;
    margin-left: -20px!important;
}


.btn-custom {
	background-color: #f63c98;
    color: white;
}

