.contentContainer {
	margin: 100px 0px 100px 0px;
	padding: 100px 20px 100px 20px;
}

.contentContainer h3, .contentContainer h2 {
	color: #32c5d2;
}

.content-header {
	//min-height: 200px;
    /* margin: auto; */
    text-transform: uppercase;
    background:	#32c5d2;
    /*padding: 50px 20px 50px 20px;*/
}

.contentContainer div {
	margin-top: 0px;
	/*margin-bottom: 200px;*/
}

.element {
	margin-bottom: 100px;
	padding: 10px;
	margin: 10px;
}

.aqua-border-left {
	border-left: 3px solid #32c5d2;
}

.aqua-border-right {
	border-right: 3px solid #32c5d2;	
} 

.aqua-border-top {
	border-top: 3px solid #32c5d2;
} 
.exercise-name {
	font-weight: bold;
}

.exercice-description {
	border-left: 1px solid #eee;
    padding-left: 10px;
}

.exercise {
	 padding-top: 5px;
	 min-height: 200px;

}