.contentContainer {
	margin: 100px 0px 100px 0px;
	padding: 100px 20px 100px 20px;
}

.content-header {
	//min-height: 200px;
    /* margin: auto; */
    text-transform: uppercase;
    background:	#32c5d2;
    /*padding: 50px 20px 50px 20px;*/
}

.contentContainer div {
	margin-top: 0px;
	/*margin-bottom: 200px;*/
}

.element {
	margin-bottom: 100px;
	padding: 10px;
	margin: 10px;
}

.aqua-border-left {
	border-left: 3px solid #32c5d2;
}

.aqua-border-right {
	border-right: 3px solid #32c5d2;	
}