.navBar-container {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #f6f190;
    padding-bottom: 10px;
    box-shadow: 0px 3px 9px #dfdcdc;
}

.NavBar-toggle {
	margin: 10px;
	color: #79a1ab;
}

@media (max-width: 900px) {
	.medium-visible {
		display: none!important;
	}
}

@media (min-width: 900px) {
	.small-visible {
		display: none!important;
	}
}

.navlinks {
	justify-content: center;
}

.navlinks > div {
	margin: auto 15px;
	text-transform: uppercase;

	font-family: 'Montserrat', sans-serif!important;
}

.navlinks > div > a.active {
	color: #5ba5b2;
}

.navlinks > div > a {
	color: #333;
}

a:hover {
	text-decoration: none!important;
}

.navbar-default {
	min-height: 100px;
}

.navbar-default a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border-top: none;
}

.navbar-default a.active {
	color: #32c5d2!important;
}

.language-options-first {
	margin-right: 10px;
}

.language-options-active {
	border-top: 3px solid #333;

}

.language-options-unactive {
	margin-top: 3px;
}

#language-options {
	color: #333;
}

#site-name {
	text-align: center;
}

#toggler {
	padding: 20px;
}

