.navBar-container {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.91);
    padding-bottom: 10px;
    box-shadow: 0px 3px 9px #dfdcdc;
}

.NavBar-toggle {
	margin: auto 10px;
	color: #32c5d2;
}

@media (max-width: 900px) {
	.medium-visible {
		display: none!important;
	}
}

@media (min-width: 900px) {
	.small-visible {
		display: none!important;
	}
}

.navlinks {
	justify-content: center;
}

.navlinks > div {
	margin: auto 15px;
	text-transform: uppercase;

	font-family: 'Montserrat', sans-serif!important;
}

.navlinks > div > a {
	color: #848484;
}

a:hover {
	text-decoration: none!important;
}

.navbar-default {
	min-height: 100px;
}

.navbar-default a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border-top: none;
}

.navbar-default a.active {
	color: #32c5d2!important;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-5 {
	flex: 3;
}
.topBar {
	padding-bottom: 5px;
}
.topBar h1 {
	margin: 0;
	color: #32c5d2;
}

.topBar i {
	color: #848484;
    margin: 5px;
}

#language-options {
	color: #848484;
}

#site-name {
	text-align: center;
}

