.post-list-item,
.exercise-list-item,
.open-list-item {
  list-style: none;
  a {
    text-decoration: none;
    font-size: 14px;
  }
}
.order-helper-text {
  font-size: 1em;
  font-weight: bold;
  color: #5e6469;
  margin-left: 183px;
}
